extends ../../../core/view/layout

prepend header
  title #{t('')} | #{t(config.web.t_name)}

block main
  for category in categories
    h2= category.pages[0].plugin.getTranslator(req)(category.t_name)
    ul
      for page in category.pages
        li
          a(href="/wiki/#{category.name}/#{page.name}")= page.plugin.getTranslator(req)(page.t_title)
          small &nbsp; (#{page.language})
