header ShadowSocks
.col-md-6
  .panel.panel-default
    .panel-heading
      h3.panel-title 连接
    .panel-body
      .input-group
        span.input-group-addon 端口
        input.form-control(type='text', value=account.attribute.plugin.shadowsocks.port, disabled)
      .input-group
        span.input-group-addon 密码
        input.form-control(type='text', value=account.attribute.plugin.shadowsocks.password, disabled)
        span.input-group-btn
          button.btn.btn-default.action-reset-password(type='button') 重置

.col-md-6
  .panel.panel-default
    .panel-heading
      h3.panel-title 流量
    .panel-body
      p 余额折合约 #{(account.attribute.balance / config.plugins.shadowsocks.price_bucket / 10).toFixed(1)} G 流量
    table.table.table-hover
      tbody
        tr
          td #{(traffic_24hours / 1000).toFixed(1)}G
          td 24 hour ago
        tr
          td #{(traffic_7days / 1000).toFixed(1)}G
          td 7 days ago
        tr
          td #{(traffic_30days / 1000).toFixed(1)}G
          td 30 days ago
