div
  h2= t('')
  p= t('view.payment_tips')
  p= t('view.exchange_rate_tips', {rate10: (exchange_rate * 10).toFixed(4)})
  if account.pluggable.bitcoin
    pre= account.pluggable.bitcoin.bitcoin_deposit_address
  else
    pre= t('view.no_address')
