extends layout

prepend header
  title= helpers.title('admin.admin_panel')

block main
  .row
    ul.nav.nav-tabs(role='tablist')
      li.active
        a(href='#tab-dashboard', data-toggle='tab') 仪表盘
      li
        a(href='#tab-extensions', data-toggle='tab') 插件和拓展
      li
        a(href='#tab-accounts', data-toggle='tab') 用户
      li
        a(href='#tab-tickets', data-toggle='tab') 工单
      li
        a(href='#tab-coupons', data-toggle='tab') 优惠和兑换
      li
        a(href='#tab-compontents', data-toggle='tab') 元件
      li
        a(href='#tab-logs', data-toggle='tab') 系统日志

    .tab-content
      #tab-dashboard.tab-pane.active
        include admin/dashboard
              
      #tab-extensions.tab-pane
        include admin/extensions
        
      #tab-accounts.tab-pane
        include admin/accounts

      #tab-tickets.tab-pane
        include admin/tickets

      #tab-coupons.tab-pane
        include admin/coupons
          
      #tab-compontents.tab-pane
        include admin/compontents
        
      #tab-logs.tab-pane
        include admin/logs

  .account-details-modal.modal.fade
    .modal-dialog(style='width: 800px;')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4.label-account-id
        .modal-body
          pre.label-details
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal')= t('common.close')

  .confirm-payment-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4.modal-title= t('view.admin.confirm_payment')
        .modal-body
          form.form-horizontal(method='post', role='form')
            .form-group
              label.col-sm-2.col-md-offset-1.control-label= t('common.id')
              .col-sm-5
                p.input-account-id.form-control-static
            .form-group
              label.col-sm-2.col-md-offset-1.control-label= t('common.amount')
              .col-sm-5
                input.input-amount.form-control(type='text')
            .form-group
              label.col-sm-2.col-md-offset-1.control-label= t('view.admin.order_id')
              .col-sm-5
                input.input-order-id.form-control(type='order_id')

        .modal-footer
          button.btn.btn-success.action-confirm-payment(type='button')= t('common.create')

prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/admin/ticket/')= t('ticket.ticket_list')
