doctype html
html
  head
    meta(charset='utf-8')
    block header
      link(rel='stylesheet', href='/public/vendor/vendor.css')
      link(rel='stylesheet', href='/public/core.css')

  body(data-username="#{account ? account.username : ''}")
    header.navbar-fixed-top
      .container
        nav.navbar.navbar-default.navbar-inverse(role='navigation')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
              span.sr-only= t('view.layout.navigation')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')= site.name
          #navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav
              block menu-bar
            ul.nav.navbar-nav.navbar-right
              if account
                li
                  a(href='/account/preferences/edit')= account.username
                li
                  a(href='/panel/')= t('panel.')
                if account.inGroup('root')
                  li
                    a(href='/admin/dashboard')= t('admin.admin_panel')
                li
                  a.action-logout(href='/account/logout/')= t('account.logout')
              else
                li
                  a(href='/account/register/')= t('account.register')
                li
                  a(href='/account/login/')= t('account.login')
              li.dropdown
                a(href='#', data-toggle='dropdown').dropdown-toggle
                  span.glyphicon.glyphicon-globe
                  | &nbsp;
                  span.label-language
                ul.dropdown-menu
                  li
                    a.action-switch-language(href='#', data-language='auto') #{t('languages.auto')} (auto)
                    for language in root.i18n.languages()
                      a.action-switch-language(href='#', data-language=language) #{t('languages.' + language)} (#{language})

    block content
      #content.container
        .row
          .col-md-9
            block main

          #sidebar.col-md-3
            block sidebar
              .row
                header= site.name
                ul
                  li v#{root.package.version}
                  li
                    if config.web.repo.match(/^http/)
                      a(href=config.web.repo, target='_blank') Source Code
                    else
                      a(href='https://github.com/#{config.web.repo}', target='_blank') Source on Github

    #footer
      block footer
        if config.web.google_analytics_id
          script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '#{config.web.google_analytics_id}', 'auto');
            ga('send', 'pageview');
        script(src='/public/vendor/vendor.js')
        script(src='/public/core.js')
