doctype html
html
  head
    meta(charset='utf-8')
    block header
      link(rel='stylesheet', href='http://cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
      link(rel='stylesheet', href='/style/layout.css')
      for hook in selectHook('view.layout.styles')
        link(rel='stylesheet', href=hook.path)

  body(data-locale=app.localeVersion)
    header.navbar-fixed-top
      .container
        nav.navbar.navbar-default.navbar-inverse(role='navigation')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
              span.sr-only= t('view.layout.navigation')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')= config.web.name
          #navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav
              for hook in selectHook('view.layout.menu_bar')
                if hook.target
                  li
                    a(href=hook.href, target=hook.target)= hook.body
                else
                  li
                    a(href=hook.href)= hook.body
            ul.nav.navbar-nav.navbar-right
              if account
                li
                  a(href='/account/setting/')= account.username
                li
                  a(href='/panel/')= t('panel.')
                if app.models.mAccount.inGroup(account, 'root')
                  li
                    a(href='/admin/') 管理员面板
                li
                  a#logout(href='/account/logout/')= t('account.logout')
              else
                li
                  a(href='/account/register/')= t('account.register')
                li
                  a(href='/account/login/')= t('account.login')

    block content
      #content.container
        .row
          .col-md-9
            block main

          #sidebar.col-md-3
            block sidebar
              .row
                header= config.web.name
                ul
                  li v#{app.package.version}
                  li
                    a(href=app.package.repository.url) Github

    #footer
      if config.web.google_analytics_id
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', '#{config.web.google_analytics_id}', 'auto');
          ga('send', 'pageview');
      script(src='http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js')
      script(src='http://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js')
      script(src='http://cdn.staticfile.org/twitter-bootstrap/3.2.0/js/bootstrap.min.js')
      script(src='/script/layout.js')
      for hook in selectHook('view.layout.scripts')
        script(src=hook.path)
      block footer
