doctype html
html
  head
    meta(charset='utf-8')
    block head
      link(rel='stylesheet', href='http://cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css')
      link(rel='stylesheet', href='/style/layout/layout.css')
  body
    header.navbar-fixed-top
      .container
        nav.navbar.navbar-default.navbar-inverse(role='navigation')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')= t('app.name')
          #navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/topnav1/') Top Nav1
            ul.nav.navbar-nav.navbar-right
              if account
                li
                  a= account.data.username
                li
                  a(href='/panel/')= t('word.panel')
                li
                  a#logout(href='/account/logout/')= t('word.logout')
              else
                li
                  a(href='/account/signup/')= t('word.signup')
                li
                  a(href='/account/login/')= t('word.login')

    block content
      #content.container
        .row
          .col-md-9
            .alert#page-alert
              button(type='button',class='close') &times;
            block main

          #sidebar.col-md-3
            block sidebar
              .row
                header= t('app.name')
                p= t('app.description')

              if app && app.locals && app.locals.version
                .row
                  header Version
                  ul
                    li Version: #{app.locals.version.version.slice(0, 10)}
                    li Author: #{app.locals.version.author}
                    li= app.locals.version.time.toJSON()
                    li= app.locals.version.message

    #footer
      script(src='http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js')
      script(src='http://cdn.staticfile.org/twitter-bootstrap/3.0.3/js/bootstrap.min.js')
      script(src='/script/base/ErrorHandle.js')
      script(src='/script/layout/layout.js')
      block footer

