extends layout

prepend head
  title #{t('panel.')} | #{t('app.name')}

append head
  link(rel='stylesheet', href='/style/panel.css')

block content
  #content.container
    .row
      #sidenav.col-md-3
        ul.nav.nav-pills.nav-stacked
          li.active
            a(href='/panel/')
              span.glyphicon.pull-right.glyphicon-home
              | #{t('panel.')}
          li
            a(href='/ticket/list/')
              span.glyphicon.pull-right.glyphicon-edit
              | #{t('ticket.')}

      .col-md-9
        .row
          header= t('panel.overview')
          p
            | #{t('plan.balance')}: #{account.attribute.balance.toFixed(2)} #{t('plan.currency.cny')}
            | #{t('plan.remaining_time')}: #{account.attribute.remaining_time} #{t('time.day')}

        .row
          header= t('plan.')
          table.table.table-hover
            tbody
              for plan in plans
                tr
                  td= plan.t_name
                  td= plan.t_service
                  td= plan.t_resources
                  td
                    if plan.isEnable
                      button.btn.btn-danger.btn-sm= t('plan.unsubscribe')
                    else
                      button.btn.btn-success.btn-sm= t('plan.subscribe')

        for widget in widgets
          .row
            != widget.html
