extends layout

prepend head
  title #{t('panel.')} | #{t('app.name')}

append head
  link(rel='stylesheet', href='/style/panel.css')

block content
  #content.container
    .row
      #sidenav.col-md-3
        ul.nav.nav-pills.nav-stacked
          li.active
            a(href='/panel/')
              span.glyphicon.pull-right.glyphicon-home
              | #{t('panel.')}
          li
            a(href='/ticket/list/')
              span.glyphicon.pull-right.glyphicon-edit
              | #{t('ticket.')}

      .col-md-9
        .row
          header= t('panel.overview')
          p
            | #{t('plan.balance')}: #{account.attribute.balance.toFixed(2)} #{t('plan.currency.cny')}
            | #{t('plan.remaining_time')}: #{account.attribute.remaining_time} #{t('time.day')}

        .row
          header= t('plan.')
          table.table.table-hover
            tbody
              for plan in plans
                tr
                  td= plan.t_name
                  td= plan.t_service
                  td= plan.t_resources
                  td
                    if plan.isEnable
                      button.btn.btn-danger.btn-sm= t('plan.unsubscribe')
                    else
                      button.btn.btn-success.btn-sm= t('plan.subscribe')

        .row
          header SSH
          .col-md-6
            .panel.panel-warning
              .panel-heading
                 h3.panel-title 设置 SSH 密码
              .panel-body
                .input-group
                  input.form-control(type='password')
                  span.input-group-btn
                    button.btn.btn-default(type='button') 提交
          .col-md-6
            table.table.table-hover
              thead
                tr
                  td 进程名
                  td 内存
                  td CPU
                  td 操作
              tbody
                tr
                  td sshd
                  td 5M
                  td 1%
                  td
                    button.btn.btn-danger.btn-xs Kill
                tr
                  td node
                  td 10M
                  td 2%
                  td
                    button.btn.btn-danger.btn-xs Kill
