extends layout

prepend header
  title #{t('panel.')} | #{config.web.name}

append header
  link(rel='stylesheet', href='/style/panel.css')
  for hook in selectHook('view.panel.styles')
    link(rel='stylesheet', href=hook.path)

block main
  .row
    header 财务
    p #{t('plan.balance')}: #{account.billing.balance.toFixed(2)} #{t('plan.currency.cny')}
    p
      a(href= '/panel/pay/').btn.btn-success 充值

  .row
    header 付费方案
    table.table.table-hover.plan-list
      tbody
        for plan in plans
          tr(data-name='#{plan.name}')
            td
              strong= t(plan.t_name)
            td= t(plan.t_description)
            td
              if plan.is_enable
                button.action-leave-plan.btn.btn-danger.btn-sm 退订方案
              else
                button.action-join-plan.btn.btn-success.btn-sm 订购方案

  if selectHook('view.panel.switch_buttons').length
    #service-switch.row
      header 服务开关
      for hook in selectHook('view.panel.switch_buttons')
        if account.attribute.plugin[hook.name].is_enable
          button(data-name=hook.name).btn.btn-danger 关闭 #{t('plugins.' + hook.name + '.name')}
        else
          button(data-name=hook.name).btn.btn-success 开启 #{t('plugins.' + hook.name + '.name')}

  for widget_html in widgets_html
    != widget_html

prepend sidebar
  .row
    p
      a.btn.btn-lg.btn-success(href='/ticket/list/') 工单
    p
      a.btn.btn-lg.btn-success(href='/account/setting/') 首选项

append footer
  script(src='/script/panel.js')
  for hook in selectHook('view.panel.scripts')
      script(src=hook.path)
