extends layout

prepend header
  title= helpers.title('panel.')

block main
  .row
    header= t('account.financials')
    p #{t('plan.balance')}: #{account.balance.toFixed(2)} #{t('plan.currency.' + config.billing.currency)}
    p
      a(href= '/panel/financials/').btn.btn-success= t('common.charge')

  .row
    header= t('plan.')
    table.table.table-hover.plan-list
      tbody
        for plan in root.billing.all()
          tr(data-name='#{plan.name}')
            td
              strong= t(plan.name)
            td= t(plan.description)
            td
              if plan.hasMember(account)
                button.action-leave-plan.btn.btn-danger.btn-sm= t('plan.leave')
              else
                button.action-join-plan.btn.btn-success.btn-sm= t('plan.join')

  for widget_html in widgets_html
    != widget_html

prepend sidebar
  .row
    p
      a.btn.btn-lg.btn-success(href='/panel/components') 元件详情
    p
      a.btn.btn-lg.btn-success(href='/tickets/list/')= t('ticket.')
    p
      a.btn.btn-lg.btn-success(href='/account/preferences/')= t('account.preferences')
