extends layout

prepend header
  title #{t('panel.')} | #{config.web.name}

append header
  link(rel='stylesheet', href='/style/panel.css')
  for hook in selectHook('view.panel.styles')
    link(rel='stylesheet', href=hook.path)

block main
  .row
    header= t('view.panel.billing')
    p #{t('plan.balance')}: #{account.billing.balance.toFixed(2)} #{t('plan.currency.' + config.billing.currency)}
    p
      a(href= '/panel/pay/').btn.btn-success= t('common.charge')

  .row
    header= t('plan.')
    table.table.table-hover.plan-list
      tbody
        for plan in plans
          tr(data-name='#{plan.name}')
            td
              strong= t(plan.t_name)
            td= t(plan.t_description)
            td
              if plan.is_enable
                button.action-leave-plan.btn.btn-danger.btn-sm= t('plan.leave')
              else
                button.action-join-plan.btn.btn-success.btn-sm= t('plan.join')

  if selectHook('view.panel.switch_buttons').length
    #service-switch.row
      header= t('view.panel.service_switch')
      for hook in selectHook('view.panel.switch_buttons')
        if account.attribute.plugin[hook.name].is_enable
          button(data-name=hook.name).btn.btn-danger #{t('common.disable')} #{t('plugins.' + hook.name + '.name')}
        else
          button(data-name=hook.name).btn.btn-success #{t('common.enable')} #{t('plugins.' + hook.name + '.name')}

  for widget_html in widgets_html
    .row!= widget_html

prepend sidebar
  .row
    p
      a.btn.btn-lg.btn-success(href='/ticket/list/')= t('ticket.')
    p
      a.btn.btn-lg.btn-success(href='/account/preferences/')= t('account.preferences')

append footer
  script(src='/script/panel.js')
  for hook in selectHook('view.panel.scripts')
      script(src=hook.path)
