extends layout

prepend head
  title #{t('panel.')} | #{t('app.name')}

append head
  link(rel='stylesheet', href='/style/panel.css')

block content
  #content.container
    .row
      #sidenav.col-md-3
        ul.nav.nav-pills.nav-stacked
          li.active
            a(href='/panel/')
              span.glyphicon.pull-right.glyphicon-home
              | #{t('panel.')}
          li
            a(href='/ticket/list/')
              span.glyphicon.pull-right.glyphicon-edit
              | #{t('ticket.')}

      .col-md-9
        #page-alert.alert.alert-danger
        #page-success.alert.alert-success

        .row
          header= t('panel.overview')
          p
            | #{t('plan.balance')}: #{account.attribute.balance.toFixed(2)} #{t('plan.currency.cny')}
            if account.attribute.remaining_time && account.attribute.remaining_time != Infinity
              |  |  #{t('plan.remaining_time')}: #{account.attribute.remaining_time} #{t('time.day')}
          p
            a(href= '/panel/pay/').btn.btn-success 充值

        .row
          header= t('plan.')
          table.table.table-hover
            tbody#service
              for plan in plans
                tr(data-type='#{plan.name}')
                  td= plan.t_name
                  td= plan.t_service
                  td= plan.t_resources
                  td
                    if plan.isEnable
                      button.btn.btn-danger.btn-sm= t('plan.unsubscribe')
                    else
                      button.btn.btn-success.btn-sm= t('plan.subscribe')

        for widget in widgets
          .row
            != widget.html

append footer
  script(src='/script/panel/panel.js')
