extends ../layout

prepend head
  title #{t('view.ticket.word.create')} | #{t('app.name')}
  link(rel='stylesheet', href='/style/ticket/create.css')

block main
  header= t('view.ticket.word.create')

  form.form-horizontal(method='post', role='form')
    .form-group
      .col-sm-3
        select#type.form-control(name='type')
          for type in ticketTypes
            option(value=type)= type
      .col-sm-9
        input#title.form-control(type='text', name='title', required)
    .form-group.contentarea
      textarea#content.form-control(name='content', rows='15', required)
    .form-group
      .col-sm-offset-3
        button.btn.btn-lg.btn-primary#create-ticket(type='submit')= t('word.create')


append footer
  script(src='/script/ticket/create.js')