extends ../layout

prepend head
  title #{t('view.ticket.list.title')} | #{t('app.name')}

block main
  header= t('view.ticket.list.title')

  table.table.table-hover
    thead
      tr
        th= t('word.type')
        th= t('word.title')
        th= t('word.status')
    tbody
      for ticket in tickets
        tr(data-id= ticket.data._id)
          td= ticket.data.type
          td= ticket.data.title
          td= ticket.data.status

prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/ticket/create/')= t('view.ticket.word.create')
