extends ../layout

prepend head
  title #{t('view.ticket.list.title')} | #{t('app.name')}

block main
  header= t('view.ticket.list.title')

  table.table.table-hover
    thead
      tr
        th= t('word.type')
        th= t('word.title')
        th= t('word.status')
    tbody
      for ticket in tickets
        tr(data-id= ticket._id)
          td= ticket.type
          td
            a(href='/ticket/view/?id=#{ticket._id}')= ticket.title
          td= ticket.status

prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/ticket/create/')= t('view.ticket.word.create')
