extends ../layout

mixin displayTicketStatus(t_status)
  - status = t('ticket_status.' + t_status)

  if t_status == 'closed'
    span.text-muted= status
  else if t_status == 'open'
    span.text-primary= status
  else if t_status == 'pending'
    span.text-warning= status
  else if t_status == 'finish'
    span.text-success= status
  else
    | #{status}

mixin displayTicketsTable(t_status, tickets)
  h4= t('ticket_status.' + t_status)

  table.table.table-hover
    thead
      tr
        th= t('ticket.title')
        th= t('ticket.status')
    tbody
      for ticket in tickets
        tr(data-id='#{ticket._id}')
          td
            a(href='/ticket/view/?id=#{ticket._id}')= ticket.title
          td
            mixin displayTicketStatus(ticket.status)

prepend header
  title #{t('ticket.ticket_list')} | #{config.web.name}

block main
  header= t('ticket.ticket_list')

  if tickets
    mixin displayTicketsTable('related', tickets)

  if pending && pending.length
    mixin displayTicketsTable('pending', pending)

  if open && open.length
    mixin displayTicketsTable('open', open)

  if finish && finish.length
    mixin displayTicketsTable('finish', finish)

  if closed && closed.length
    mixin displayTicketsTable('closed', closed)

prepend sidebar
  .row
    if tickets
      a.btn.btn-lg.btn-success(href='/ticket/create/')= t('ticket.create_ticket')
    else
      a.btn.btn-lg.btn-success(href='/admin/ticket/')= t('ticket.ticket_list')
