extends ../layout

prepend head
  title #{t('ticket.ticket_list')} | #{t('app.name')}

block main
  header= t('ticket.ticket_list')

  table.table.table-hover
    thead
      tr
        th= t('ticket.type')
        th= t('ticket.title')
        th= t('ticket.status')
    tbody
      for ticket in tickets
        tr(data-id= '#{ticket._id}')
          td= ticket.type
          td
            a(href='/ticket/view/?id=#{ticket._id}')= ticket.title
          td= ticket.status

prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/ticket/create/')= t('ticket.create_reply')
