extends ../layout

prepend head
  title #{t('ticket.ticket_list')} | #{t('app.name')}

block main
  header= t('ticket.ticket_list')

  table.table.table-hover
    thead
      tr
        th= t('ticket.title')
        th= t('ticket.status')
    tbody
      for ticket in tickets
        tr(data-id= '#{ticket._id}')
          td
            a(href='/ticket/view/?id=#{ticket._id}')= ticket.title
          td
            if ticket.status == 'closed'
              span.small.text-muted 已关闭
            else if ticket.status == 'open'
              span.small.text-primary 开放的
            else if ticket.status == 'pending'
              span.small.text-warning 等待处理
            else if ticket.status == 'finish'
              span.small.text-success 已完成

prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/ticket/create/')= t('ticket.create_ticket')
