extends ../layout

mixin displayTicketStatus(status)
  if status == 'closed'
    span.text-muted 已关闭
  else if status == 'open'
    span.text-primary 开放的
  else if status == 'pending'
    span.text-warning 等待处理
  else if status == 'finish'
    span.text-success 已完成
  else
    | #{status}

mixin showTickets(tickets)
  for ticket in tickets
    tr(data-id= '#{ticket._id}')
      td
        a(href='/ticket/view/?id=#{ticket._id}')= ticket.title
      td
        mixin displayTicketStatus(ticket.status)

prepend head
  title #{t('ticket.ticket_list')} | #{t('app.name')}

block main
  header= t('ticket.ticket_list')

  table.table.table-hover
    thead
      tr
        th= t('ticket.title')
        th= t('ticket.status')
    tbody
      if tickets
        mixin showTickets(tickets)

      if pending
        mixin showTickets(pending)

      if open
        mixin showTickets(open)

      if finish
        mixin showTickets(finish)

      if closed
        mixin showTickets(closed)


prepend sidebar
  .row
    if tickets
      a.btn.btn-lg.btn-success(href='/ticket/create/')= t('ticket.create_ticket')
    else
      a.btn.btn-lg.btn-success(href='/admin/ticket/')= 工单列表
