extends ../layout

prepend head
  title #{t('view.ticket.list.title')} | #{t('app.name')}

block main
  header= t('view.ticket.list.title')

  table.table.table-hover
    thead
      tr
        td= t('word.type')
        td= t('word.title')
        td= t('word.status')
    tbody
      for ticket in tickets
        tr
          td= ticket.data.type
          td= ticket.data.title
          td= ticket.data.status
