extends ../layout

prepend header
  title #{t('ticket.ticket_list')} | #{t(config.web.t_name)}

block main
  #list-view
    header= t('ticket.ticket_list')
    
    table.table.table-hover
      thead
        tr
          th= t('ticket.title')
          th= t('ticket.status')
      tbody

prepend sidebar
  .row
    if account.isAdmin()
      a.btn.btn-lg.btn-success(href='/admin/ticket/')= t('ticket.ticket_list')
    else
      a.btn.btn-lg.btn-success(href='/ticket/create/')= t('ticket.create_ticket')

append footer
  script(src='/script/ticket.js')
  script(id='list-item-template', type='text/x-jquery-tmpl')
    td
      a(href='/ticket/view/${_id}') ${title}
    td
      span(class='text-${color}') ${RP.t('ticket_status.' + status)}
