extends ../layout

prepend header
  title= helpers.title('ticket.ticket_list')

block main
  #list-view
    header= t('ticket.ticket_list')
    
    table.table.table-hover
      thead
        tr
          th= t('ticket.title')
          th= t('ticket.status')
      tbody

prepend sidebar
  .row
    unless account.isAdmin()
      a.btn.btn-lg.btn-success(href='/tickets/create/')= t('ticket.create_ticket')

append footer
  script(id='list-item-template', type='text/x-jquery-tmpl')
    td
      a(href='/tickets/${_id}/view') ${title}
    td
      span(class='text-${color}') ${root.t('ticket_status.' + status)}
