extends ../layout

prepend head
  title #{ticket.title} | #{t('app.name')}
  link(rel='stylesheet', href='/style/ticket.css')

block main
  .row
    header= ticket.title
    p!= ticket.content_html

  .row
    header= t('ticket.replies')
    ul.list-group
      for reply in ticket.replys
        li.list-group-item
          a(href='/member/')
            img(src='http://ruby-china.org/avatar/efcc15b92617a95a09f514a9bff9e6c3?s=58')
          .list-content
            p!= reply.content_html

  .row
    header= t('word.create_reply')
    form.form-horizontal(method='post', role='form')
      .form-group.contentarea
        textarea#contetn.form-control(name='content', rows='5', required)
      .form-group
        button.btn.btn-lg.btn-primary(type='submit')= t('ticket.create_reply')

prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/ticket/list/')= t('ticket.ticket_list')
