extends ../layout

prepend head
  title #{ticket.title} | #{t('app.name')}
  link(rel='stylesheet', href='/style/ticket.css')

block main
  .row#ticketid(data-id= '#{ticket._id}')
    header= ticket.title
    //- 等pending改好后可以统一处理，这里先用case
    case ticket.status
      when 'open'
        span.btn-success(role='btn') 打开的
      when 'closed'
        span.btn-danger(role='btn') 关闭的
    p!= ticket.content_html

  .row
    header= t('ticket.replies')
    ul.list-group
      for reply in ticket.replys
        li.list-group-item.clearfix
          a.pull-left
            img(src= reply.account.setting.avatar_url)
          .list-content
            p!= reply.content_html
            p
              span.label.label-info= reply.account.username
              span.label.label-default= reply.created_at

  .row
    header= t('ticket.create_reply')
    form.form-horizontal(method='post', role='form')
      .form-group.padding
        textarea.form-control#reply-content(name='content', rows='5', required)
      .form-group.padding
        button.btn.btn-lg.btn-primary#reply-btn(type='submit')= t('ticket.create_reply')
        case ticket.status
          when 'open'
            button.btn.btn-lg.btn-danger#close-btn= t('ticket.close_ticket')
          when 'closed'
            button.btn.btn-lg.btn-success= t('ticket.reopen_ticket')

        button.btn.btn-lg.btn-success= t('ticket.finish_ticket')

prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/ticket/list/')= t('ticket.ticket_list')

  .row
    li.list-group-item.clearfix
      a.pull-left
        img(src= ticket.account.setting.avatar_url)
      p
        span.label.label-info= ticket.account.username
        br
        span.label.label-default= ticket.created_at.toJSON()

append footer
  script(src='/script/ticket/reply.js')
