extends ../layout

prepend head
  title #{ticket.title} | #{t('app.name')}
  link(rel='stylesheet', href='/style/ticket.css')

block main
  .row#ticketid(data-id= '#{ticket._id}')
    header= ticket.title
    p!= ticket.content_html

  .row
    header= t('ticket.replies')
    ul.list-group
      for reply in ticket.replys
        li.list-group-item.clearfix
          a.pull-left
            img(src= reply.account.setting.avatar_url)
          .list-content
            p!= reply.content_html
            p
              span.label.label-info= reply.account.username
              span.label.label-default= reply.created_at

  .row
    header= t('ticket.create_reply')
    form.form-horizontal(method='post', role='form')
      .form-group.contentarea
        textarea.form-control#reply-content(name='content', rows='5', required)
      .form-group
        button.btn.btn-lg.btn-primary#reply(type='submit')= t('ticket.create_reply')

prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/ticket/list/')= t('ticket.ticket_list')

append footer
  script(src='/script/ticket/reply.js')
