extends ../layout

prepend head
  title #{ticket.title} | #{t('app.name')}
  link(rel='stylesheet', href='/style/ticket.css')

block main
  .row#ticketid(data-id= '#{ticket._id}')
    header= ticket.title
    p!= ticket.content_html

  .row
    header= t('ticket.replies')
    ul.list-group
      for reply in ticket.replys
        li.list-group-item.clearfix
          a.pull-left
            img(src= reply.account.setting.avatar_url)
          .list-content
            p!= reply.content_html
            p
              span.label.label-info= reply.account.username
              span.label.label-default= reply.created_at

  .row
    if ticket.status != 'closed'
      header= t('ticket.create_reply')
    form.form-horizontal(method='post', role='form')
      if ticket.status != 'closed'
        .form-group.padding
          textarea.form-control#reply-content(name='content', rows='5', required)
      .form-group.padding
        if ticket.status == 'closed'
          button(disabled).btn.btn-lg.btn-primary 已关闭
        else
          button.btn.btn-lg.btn-primary#reply-btn(type='submit')= t('ticket.create_reply')
          button(type='button').btn.btn-lg.btn-danger.change-status(data-status='closed')= t('ticket.close_ticket')
        if mAccount.inGroup(account, 'root') && (ticket.status == 'open' || ticket.status == 'pending')
          button(type='button').btn.btn-lg.btn-success.change-status(data-status='finish')= t('ticket.finish_ticket')
        if mAccount.inGroup(account, 'root') && ticket.status == 'closed'
          button(type='button').btn.btn-lg.btn-success.change-status(data-status='open')= t('ticket.reopen_ticket')

prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/ticket/list/')= t('ticket.ticket_list')

  .row
    header= t('ticket.creator')
    li.list-group-item.clearfix
      a.pull-left
        img(src= ticket.account.setting.avatar_url)
      p
        span.label.label-info= ticket.account.username
        br
        span.label.label-default= ticket.created_at.toJSON()

  .row
    header= t('ticket.members')
    for member in ticket.members
      a.pull-left
        img(src= member.setting.avatar_url, alt= member.username)

append footer
  script(src='/script/ticket/reply.js')
