extends ../layout

prepend header
  title #{req.ticket.title} | #{t(config.web.t_name)}

append header
  link(rel='stylesheet', href='/style/ticket.css')

block main
  .row.content

  .row
    header= t('ticket.replies')
    ul.replies.list-group

  .row.actions
      
prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/ticket/list/')= t('ticket.ticket_list')

  .row.account-info

  .row.members

append footer
  script(src='/bower_components/moment/moment.js')
  script(src='/script/ticket.js')
  script(id='content-template', type='text/template')
    header
      | {{title}} &nbsp;
      span.small(class='text-{{color}}') {{RP.t('ticket_status.' + status)}}
      
    p {:content_html}}
  script(id='reply-template', type='text/template')
    a.pull-left
      img.img-avatar(src='{{account.preferences.avatar_url}}')
    .list-content
      {% if (content_html) { %}
      p {:content_html}}
      {% } else { %}
      p {{content}}
      {% }; %}
      p
        span.label.label-info {{account.username}}
        {% if (created_at) { %}
        span.label.label-default(title='{{created_at}}') {{moment(created_at).fromNow()}}
        {% } else { %}
        span.label.label-default ...
        {% }; %}
  script(id='actions-template', type='text/template')
    {% if (status != 'closed') { %}
    header= t('ticket.create_reply')
    {% }; %}
      
    form.form-horizontal
      {% if (status != 'closed') { %}
      .form-group.padding
        textarea.form-control(name='content', rows='5')
      {% }; %}
      .form-group.padding
        {% if (status == 'closed') { %}
        button(disabled).btn.btn-lg.btn-primary= t('ticket_status.closed')
        {% } else { %}
        button.btn.btn-lg.btn-primary.action-reply(type='button')= t('ticket.create_reply')
        button(type='button', data-status='closed').btn.btn-lg.btn-danger.action-status= t('ticket.close_ticket')
        {% }; %}
        if account.isAdmin()
          {% if (status == 'open' || status == 'pending') { %}
          button(type='button', data-status='finish').btn.btn-lg.btn-success.action-status= t('ticket.finish_ticket')
          {% }; %}
          {% if (status == 'closed') { %}
          button(type='button', data-status='open').btn.btn-lg.btn-success.action-status= t('ticket.reopen_ticket')
          {% }; %}
  script(id='account-info-template', type='text/template')
    {% if (account) { %}
    a.pull-left
      img.img-avatar(src='{{account.preferences.avatar_url}}')
    p
      span.label.label-info {{account.username}}
      br
      span.label.label-default(title='{{created_at}}') {{moment(created_at).fromNow()}}
    {% }; %}
  script(id='members-template', type='text/template')
    header= t('ticket.members')
    {% members.forEach(function(member) { %}
    a.pull-left
      img.img-avatar(src='{{member.preferences.avatar_url}}', alt='{{member.username}}')
    {% }); %}
