extends ../layout

prepend header
  title= helpers.title(req.ticket.title)

block main
  .row.content

  .row
    header= t('ticket.replies')
    ul.replies.list-group

  .row.actions
      
prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/tickets/list/')= t('ticket.ticket_list')

  .row.account-info

  .row.members

append footer
  script(id='content-template', type='text/x-jquery-tmpl')
    header
      | ${title} &nbsp;
      span.small(class='text-${color}') ${root.t('ticket_status.' + status)}
      
    p {{html content_html}}
  script(id='reply-template', type='text/x-jquery-tmpl')
    a.pull-left
      img.img-avatar(src='${account.preferences.avatar_url}')
    .list-content
      {{if content_html}}
      p {{html content_html}}
      {{else}}
      p ${content}
      {{/if}}
      p
        span.label.label-info ${account.username}
        {{if created_at}}
        span.label.label-default(title='${created_at}') ${moment(created_at).fromNow()}
        {{else}}
        span.label.label-default ...
        {{/if}}
  script(id='actions-template', type='text/x-jquery-tmpl')
    {{if status != 'closed'}}
    header= t('ticket.create_reply')
    {{/if}}
      
    form.form-horizontal
      {{if status != 'closed'}}
      .form-group.padding
        textarea.form-control(name='content', rows='5')
      {{/if}}
      .form-group.padding
        {{if status == 'closed'}}
        button(disabled).btn.btn-lg.btn-primary= t('ticket_status.closed')
        {{else}}
        button.btn.btn-lg.btn-primary.action-reply(type='button')= t('ticket.create_reply')
        button(type='button', data-status='closed').btn.btn-lg.btn-danger.action-status= t('ticket.close_ticket')
        {{/if}}
        if account.isAdmin()
          {{if status == 'open' || status == 'pending'}}
          button(type='button', data-status='finish').btn.btn-lg.btn-success.action-status= t('ticket.finish_ticket')
          {{/if}}
          {{if status == 'closed'}}
          button(type='button', data-status='open').btn.btn-lg.btn-success.action-status= t('ticket.reopen_ticket')
          {{/if}}
  script(id='account-info-template', type='text/x-jquery-tmpl')
    {{if account}}
    a.pull-left
      img.img-avatar(src='${account.preferences.avatar_url}')
    p
      span.label.label-info ${account.username}
      br
      span.label.label-default(title='${created_at}') ${moment(created_at).fromNow()}
    {{/if}}
  script(id='members-template', type='text/x-jquery-tmpl')
    header= t('ticket.members')
    {{each members}}
    a.pull-left
      img.img-avatar(src='${$value.preferences.avatar_url}', alt='${$value.username}')
    {{/each}}
