header Nginx
table.table.table-hover
  thead
    tr
      th 域名
      th 摘要
      th
        button.btn.btn-success.btn-xs(data-toggle='modal', data-target='#nginx-modal')
          span.glyphicon.glyphicon-plus-sign
  tbody
    for site in account.attribute.plugin.nginx.sites
      tr(data-id= '#{site._id}')
        td= site.server_name.join(', ')
        td root: ~#{site.root.match(/\/home\/[^\/]+(.*)/)[1]}
        td(style= 'width: 150px;')
          button.btn.btn-info.btn-xs
            span.glyphicon.glyphicon-edit
          button.btn.btn-danger.btn-xs
            span.glyphicon.glyphicon-remove-sign

.modal.fade#nginx-modal(tabindex='-1', role='dialog', aria-hidden='true', aria-labelledby='nginx-modal-label')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h4.modal-title#nginx-modal-label Nginx
      .modal-body
        ul.nav.nav-tabs.config-type
          li.active
            a(href='#nginx-type-guide', data-toggle='tab') 向导
          li
            a(href='#nginx-type-json', data-toggle='tab') JSON
          li
            a(href='#nginx-type-original', data-toggle='tab') 原生
        .tab-content
          .tab-pane.active#nginx-type-guide
            form.form-horizontal(role='form')
              h3 常规
              .form-group.option-is-enable
                label.col-sm-2.control-label »
                .checkbox.col-sm-10
                  label
                    input(type='checkbox', checked)
                    | 启用站点
              .form-group.option-server-name
                label.col-sm-2.control-label 域名
                .col-sm-10
                  input.form-control(type='text', required, placeholder='example.com example.net')

              h3 类型
              .form-group.option-type
                label.col-sm-2.control-label »
                .controls.col-sm-10
                  .radio
                    label
                      input(type='radio', name='site-type', value='fastcgi', checked)
                      | fastcgi (PHP)
                  .radio
                    label
                      input(type='radio', name='site-type', value='proxy')
                      | proxy (反向代理)
                  .radio
                    label
                      input(type='radio', name='site-type', value='uwsgi')
                      | uwsgi (Python)
                  .radio
                    label
                      input(type='radio', name='site-type', value='static')
                      | static (静态文件)

              h3 选项
              .form-group.option-root
                label.col-sm-2.control-label 根目录
                .col-sm-10
                  input.form-control(type='text', placeholder='/home/#{account.username}/web')
              .form-group.option-proxy.hide
                label.col-sm-2.control-label 源地址
                .col-sm-10
                  input.form-control(type='text', placeholder='http://127.0.0.1')
              .form-group.option-uwsgi.hide
                label.col-sm-2.control-label 源地址
                .col-sm-10
                  input.form-control(type='text', placeholder='/home/#{account.username}/uwsgi.sock')

          .tab-pane#nginx-type-json
            form(role='form')
              textarea.form-control(rows='18')
          .tab-pane#nginx-type-original
            p 即将支持
      .modal-footer
        p.pull-left.hide
          span.glyphicon.glyphicon-warning-sign
          | &nbsp;
          span.json-error.text-danger 错误信息
        button.btn.btn-danger(type='button', data-dismiss='modal') 关闭
        button.btn.btn-success(type='button') 保存
