div|= reply.content_html
div
  p Replied by #{account.username} as #{reply.created_at}.
  p 
    a(href="#{config.web.url}/ticket/view/#{ticket._id}") View ticket #{ticket._id}
  p Notice from RootPanel
