extends ../layout

prepend header
  title #{t('common.charge')} | #{config.web.name}

block main
  .row
    header= t('common.charge')

    for payment_method in payment_methods
      != payment_method

  .row
    header= t('view.pay.pay_log')
    table.table.table-hover
      thead
        tr
          th= t('common.time')
          th= t('common.amount')
          th= t('view.pay.pay_method')
      tbody
        for item in deposit_log
          tr
            td= moment(item.created_at).format('YYYY-MM-DD HH:mm:ss')
            td #{item.amount.toFixed(2)} #{t('plan.currency.' + config.billing.currency)}
            if item.l_payment_details
              td!= item.l_payment_details
            else
              td #{item.payload.type} #{item.payload.order_id}

  .row
    header= t('view.pay.billing_log')
    table.table.table-hover
      thead
        tr
          td= t('common.time')
          td= t('common.amount')
      tbody
        for item in billing_log
          tr
            td= moment(item.created_at).format('YYYY-MM-DD HH:mm:ss')
            td #{item.amount.toFixed(2)} CNY
