extends ../layout

prepend header
  title 充值 | #{config.web.name}

append header
  link(rel='stylesheet', href='/style/panel/pay.css')

block main
  .row
    header 充值
    div
      h2 比特币
      p 你可以直接向该地址发送比特币。在经过一次确认后，系统会实时地，自动为你折算充值金额，最小支付金额 0.0005。
      p 实时汇率：10 CNY = #{(exchange_rate * 10).toFixed(4)} BTC
      pre= account.attribute.bitcoin_deposit_address

    div
      h2 淘宝
      p 拍下对应宝贝后付款即可，购买时注意选择服务器节点选项，备注填写你的用户名。
      a.btn.btn-success(href='http://item.taobao.com/item.htm?id=#{config.billing.taobao_item_id}') 淘宝购买

  .row
    header 充值记录
    table.table.table-hover
      thead
        tr
          th 时间
          th 金额
          th 方式
      tbody
        for item in deposit_log
          tr
            td= moment(item.created_at).format('YYYY-MM-DD HH:mm:ss')
            td #{item.amount.toFixed(2)} CNY
            if item.attribute.type == 'taobao'
              td 淘宝支付 订单号：#{item.attribute.order_id}
            else if item.attribute.type == 'bitcoin'
              td
                | 比特币支付 &nbsp;
                a(href= 'https://blockchain.info/tx/#{item.attribute.order_id}')= item.attribute.order_id.slice(0, 40)
            else
              td #{item.attribute.type} #{item.attribute.order_id}

  .row
    header 扣费记录
    table.table.table-hover
      thead
        tr
          td 时间
          td 金额
          td 摘要
      tbody
        for item in billing_log
          tr
            td= moment(item.created_at).format('YYYY-MM-DD HH:mm:ss')
            td #{item.amount.toFixed(2)} CNY
            if item.type == 'billing'
              td #{item.attribute.plans.join(', ')} | #{item.attribute.billing_time} hours #{item.attribute.is_force ? '| force' : ''}
            else if item.type == 'service_billing' && item.attribute.service == 'shadowsocks'
              td ShadowSocks #{item.attribute.traffic_mb} MB #{item.attribute.is_force ? '| force' : ''}
