extends ../layout

prepend header
  title #{t('common.charge')} | #{config.web.name}

append header
  link(rel='stylesheet', href='/style/panel/pay.css')

block main
  .row
    header= t('common.charge')

    for payment_method in payment_methods
      != payment_method

  .row
    header= t('view.pay.pay_log')
    table.table.table-hover
      thead
        tr
          th= t('common.time')
          th= t('common.amount')
          th= t('view.pay.pay_method')
      tbody
        for item in deposit_log
          tr
            td= moment(item.created_at).format('YYYY-MM-DD HH:mm:ss')
            td #{item.amount.toFixed(2)} #{t('plan.currency.' + config.billing.currency)}
            if item.attribute.type == 'taobao'
              td 淘宝支付 订单号：#{item.attribute.order_id}
            else if item.attribute.type == 'bitcoin'
              td
                | 比特币支付 &nbsp;
                a(href= 'https://blockchain.info/tx/#{item.attribute.order_id}')= item.attribute.order_id.slice(0, 40)
            else
              td #{item.attribute.type} #{item.attribute.order_id}

  .row
    header= t('view.pay.billing_log')
    table.table.table-hover
      thead
        tr
          td= t('common.time')
          td= t('common.amount')
      tbody
        for item in billing_log
          tr
            td= moment(item.created_at).format('YYYY-MM-DD HH:mm:ss')
            td #{item.amount.toFixed(2)} CNY
