extends ../layout

prepend header
  title 充值 | #{config.web.name}

append header
  link(rel='stylesheet', href='/style/panel/pay.css')

block main
  .row
    header 充值

    for payment_method in payment_methods
      != payment_method

  .row
    header 充值记录
    table.table.table-hover
      thead
        tr
          th 时间
          th 金额
          th 方式
      tbody
        for item in deposit_log
          tr
            td= moment(item.created_at).format('YYYY-MM-DD HH:mm:ss')
            td #{item.amount.toFixed(2)} CNY
            if item.attribute.type == 'taobao'
              td 淘宝支付 订单号：#{item.attribute.order_id}
            else if item.attribute.type == 'bitcoin'
              td
                | 比特币支付 &nbsp;
                a(href= 'https://blockchain.info/tx/#{item.attribute.order_id}')= item.attribute.order_id.slice(0, 40)
            else
              td #{item.attribute.type} #{item.attribute.order_id}

  .row
    header 扣费记录
    table.table.table-hover
      thead
        tr
          td 时间
          td 金额
          td 摘要
      tbody
        for item in billing_log
          tr
            td= moment(item.created_at).format('YYYY-MM-DD HH:mm:ss')
            td #{item.amount.toFixed(2)} CNY
