extends ../layout

prepend header
  title #{t('common.charge')} | #{t(config.web.t_name)}

block main
  .row
    header= t('common.charge')

    for payment_method in payment_methods
      != payment_method

  .row
    header= t('view.pay.pay_log')
    table.table.table-hover
      thead
        tr
          th= t('common.time')
          th= t('common.amount')
          th= t('view.pay.pay_method')
      tbody
        for item in deposit_log
          tr
            td= moment(item.created_at).format('YYYY-MM-DD HH:mm:ss')
            td #{item.amount.toFixed(2)} #{t('plan.currency.' + config.billing.currency)}
            if item.payment_details
              td!= item.payment_details
            else
              td #{item.payload.type} #{item.payload.order_id}

  .row
    header= t('view.pay.billing_log')
    table.table.table-hover
      thead
        tr
          td= t('common.time')
          td= t('common.details')
          td= t('common.amount')
      tbody
        for item in billing_log
          tr
            td= moment(item.created_at).format('YYYY-MM-DD HH:mm:ss')
            td
              each info, plan_name in item.payload
                p #{plan_name}: #{info.billing_unit_count} unit before #{info.last_billing_at}
            td #{item.amount.toFixed(2)} CNY
