extends layout

prepend head
  title #{t("word.login")} | #{t('app.name')}

block main
  header= t('word.login')
  form.form-horizontal(method='post', role='form')
    .form-group
      label.col-sm-2.col-md-offset-1.control-label(for='username')= t('word.username')
      .col-sm-5
        input#username.form-control(type='text', name='username', required, value=username)
    .form-group
      label.col-sm-2.col-md-offset-1.control-label(for='passwd')= t('word.passwd')
      .col-sm-5
        input#passwd.form-control(type='password', name='passwd', required)
    .form-group
      .col-sm-offset-3
        button#login-btn.btn.btn-lg.btn-primary(type='submit')= t('word.login')

prepend sidebar
  .row
    header= t('view.login.noAccount')
    a.btn.btn-lg.btn-success(href='/account/signup/')= t('word.signup')

append footer
  script(src='/script/account/login.js')
