extends ../layout

prepend header
  title= helpers.title('account.login')

block main
  header= t('account.login')
  form.form-horizontal
    .form-group
      label.col-sm-2.col-md-offset-1.control-label= t('account.username')
      .col-sm-5
        input.form-control(name='username', type='text', required)
    .form-group
      label.col-sm-2.col-md-offset-1.control-label= t('account.password')
      .col-sm-5
        input.form-control(name='password', type='password')
    .form-group
      .col-sm-offset-3
        button.action-login.btn.btn-lg.btn-primary(type='button')= t('account.login')

prepend sidebar
  .row
    header= t('view.account.no_account')
    a.btn.btn-lg.btn-success(href='/account/register/')= t('account.register')
