extends ../layout

prepend header
  title #{t('account.register')} | #{config.web.name}

block main
  header= t('account.register')
  form.form-horizontal.signup-form(method='post', role='form')
    .form-group
      label.col-sm-2.col-md-offset-1.control-label(for='username')= t('account.username')
      .col-sm-5
        input#username.form-control(type='text', name='username', required)
    .form-group
      label.col-sm-2.col-md-offset-1.control-label(for='email')= t('account.email')
      .col-sm-5
        input#email.form-control(type='email', name='email', required)
    .form-group
      label.col-sm-2.col-md-offset-1.control-label(for='password')= t('account.password')
      .col-sm-5
        input#password.form-control(type='password', name='password')
    .form-group
      label.col-sm-2.col-md-offset-1.control-label(for='password2')= t('view.account.password2')
      .col-sm-5
        input#password2.form-control(type='password', name='password2')
    .form-group
      .col-sm-offset-3
        button.action-register.btn.btn-lg.btn-primary(type='button')= t('account.register')

prepend sidebar
  .row
    header= t('view.account.already_register')
    a.btn.btn-lg.btn-success(href='/account/login/')= t('account.login')

append footer
  script(src='/script/account/register.js')
