.row
  header 付费方案
  
  for plan in root.billing.all()
    .col-md-3
      .panel.panel-success
        .panel-heading
          strong= plan.name
        .panel-body
          p join_freely: #{plan.join_freely}
          p components: #{_.keys(plan.components).join()}
          p billing: #{_.keys(plan.billing).join()}
          p 用户数量：0
          
.row
  header 已加载的插件
  
  for plugin in root.plugins.all()
    - registered = root.plugins.getRegisteredExtends(plugin)
    
    .col-md-6
      .panel.panel-default
        .panel-heading
          strong= plugin.name
        .panel-body
          p dependencies: #{_.keys(plugin.dependencies).join()}
          p routes: #{_.pluck(registered.routers, 'path').join()}
          p hooks: #{_.pluck(registered.hooks, 'path').join()}
          p views: #{_.pluck(registered.views, 'view').join()}
          p widgets: #{_.pluck(registered.widgets, 'view').join()}
          p components: #{_.pluck(registered.components, 'name').join()}
          p couponTypes: #{_.pluck(registered.couponTypes, 'name').join()}
          p paymentProviders: #{_.pluck(registered.paymentProviders, 'name').join()}
