extends ../layout

prepend head
  title #{t('admin.admin_panel')} | #{t('app.name')}

block main
  header= t('admin.admin_panel')
  table.table.table-hover
    thead
      tr
        th= t('account.username')
        th= t('account.email')
    tbody
      for account in accounts
        tr
          td= account.username
          td= account.email

prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/admin/ticket/')= t('ticket.ticket_list')
